//Font
@font-face {
    font-family: hacked;
    src: url(../public/font/HAacked/Hacked-KerX.ttf);
}

//Style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}


body {
    width: 100%;
    height: 100vh;
}

.top {
    width: 100%;
    background: #000;
    
    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
    
        nav {
            flex: 1;
            text-align: right;
    
            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 30px;
        
                    a {
                        text-decoration: none;
                        font-size: 18px;
                        color: #fff;
                        font-weight: 600;
                    }
                }
            }
    
    
            
        }
        
        
        
    .navbar {
        .menu-icon {
            display: none;
        }
    }
    
    }
}

.basenglah {
    background: #000;
}

.landing_page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 100px;

    .glitch {
        font-size: 118px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        color: #fff;

        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

        animation: glitch 500ms infinite;
    }

    .glitch span {
        position: absolute;
        top: 0;
        left: 0;
    }

    .glitch span:first-child {
        animation: glitch 650ms infinite;
        clip-path: polygon(45% 0, 50% 0, 100% 45%, 0 45%);
        transform: translate(-0.025em, -0.0125em);
        /* color: green; */
        opacity: 0.8;
    }

    .glitch span:last-child {
        animation: glitch 375ms infinite;
        clip-path: polygon(40% 80%, 50% 0, 100% 0, 0 100%);
        transform: translate(0.0125em, 0.025em);
        /* color: red; */
        opacity: 0.8;
    }

    @keyframes glitch {
        0% {
            text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
                -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
        }
        14% {
            text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
                -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
        }
        15% {
            text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
                -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        49% {
            text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
                -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        50% {
            text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75),
                0 -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        99% {
            text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75),
                0 -0.05em 0 rgba(0, 0, 255, 0.75);
        }
        100% {
            text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
                -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
        }
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        ::before,
        ::after {
            animation-delay: -1ms !important;
            animation-duration: 1ms !important;
            animation-iteration-count: 1 !important;
            background-attachment: initial !important;
            scroll-behavior: auto !important;
            transition-duration: 0s !important;
            transition-delay: 0s !important;
        }
    }

    .details {
        p {
            font-size: 18px;
            color: #afafaf;
            font-weight: 600;
            margin-top: 32px;
            padding: 0 150px;
        }
    }

    .link-gabung {
        margin-top: 34px;

        .btn-gabung {
            margin-top: 42px;
            position: relative;
            padding: 20px 26px;
            background: #1832fe;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            border-radius: 10px;
        }
        .btn-gabung:hover {
            background: #1328c7;
        }

    }


}



section.two {
    margin-top: 50px;

    .AboutUs {
        background: #fff;

        .row {

            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 42px;
                font-weight: 600;
                color: #1832fe;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: #8f8f8f;
                padding-top: 24px;
            }
            
            .link-galeri {
                margin-top: 34px;

                a {
                    border: 1px solid #1328c7;
                    border-radius: 10px;
                    padding: 12px 24px;
                    text-decoration: none;
                    color: #1328c7;
                }
            }

            .gambar {
                position: relative;
                img {
                    width: 100%;
                }
            }
        }
    }
}



@media (max-width: 1000px) {
    
    .navbar {
        .menu-icon {
            display: none;
        }
    }

}

//Tablet 
@media (max-width: 920px) {
    
    .navbar {
        .menu-icon {
            display: none;
        }
    }

}

@media (min-width: 992px) {
    .navbar {
        .menu-icon {
            display: none;
        }
    }
}

//Mobile
@media (max-width: 991px) {
    .landing_page {
        padding: 0 25px;

        .glitch {
            font-size: 54px;
        }

        .details {
            p {
                font-size: 14px;
                padding: 0;
            }
        }

        .gambar {
            position: relative;
            padding-top: 40px;
            img {
                width: 100%;
            }
        }
    }

    .navbar {
        .menu-icon {
            display: none;
        }
    }
}

//Mobile
@media only screen and (max-width: 768px) {
    

    .navbar {

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            background: linear-gradient(#1328c7, #1832fe);
            position: absolute;
            top: 100px;
            right: 0;
            left: 0;
            z-index: 2;
            border-radius: 20px;
    
            li {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                margin-bottom: 10px;
    
                a {
                    color: #000;
                }
            }
        }

        .menu-icon {
            display: block;
        }

    }

}
